<section class="orders-show">

  <header class="page-header">
    <h1>Order <%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <table>
    <thead>
        <tr>
          <th>img</th>
          <th>description</th>
          <th>Quantity</th>
          <th>Product name</th>
          <th>Item price</th>
          <th>Date ordered</th>
         
        </tr>
      </thead>
    <tbody>
      <% @order.line_items.each do |item| %>
      <tr>
        <td><%=image_tag Product.find_by(id: item[:product_id]).image.tiny.url%></td>
        <td><%= Product.find_by(id: item[:product_id]).description %></td>
        <td><%= item[:quantity] %></td>
        <td><%= Product.find_by(id: item[:product_id]).name %></td>
        <td><%= humanized_money_with_symbol item[:item_price_cents]/100.00 %></td>
         <td><%= item[:created_at].strftime("%d/%m/%Y") %></td>
       </tr>
      </tbody>
      <% end %>
    </table>
      <p> Your total today is <%= humanized_money_with_symbol @order.total %></p>
      <p><%= @order.email %></p>
      
        

  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
